fastapi
slowapi
openai
pydantic
SQLAlchemy
starlette
starlette-admin
uvicorn
alembic
argon2-cffi
psycopg2-binary
pyjwt
slowapi
stripe>=5.0.0
pytest
httpx
python-dotenv
pydantic[email]