{% extends "layout.html" %}

{% block header %}
<h2>Home</h2>
{% endblock %}

{% block content %}
    <h1>Stats</h1>

    {% for stat_card in stats %}
    <div class="col-lg-2">
        <div class="card">
            <div class="card-body">
                <span class="h1">{{ stat_card.value }}</span>
                <p class="text">{{ stat_card.name }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}